<mat-nav-list  class="col-4" style="margin-left: 0px ; margin-top :2%;">
    <div class="col-4">

    </div>
  
    <a mat-list-item class="col-4" >
      <mat-icon mat-list-icon>
        message
      </mat-icon>
      <p mat-line class="col-4"> users </p>
    </a>
    <a mat-list-item  class="col-4">
      <mat-icon mat-list-icon>
        forum
      </mat-icon>
      <p mat-line class="col-4"> Forum </p>
    </a>
  
    <mat-divider class="col-4"></mat-divider>
  
    <a id="push-bottom" mat-list-item class="col-4" >
      <mat-icon mat-list-icon>
        info_outline
      </mat-icon>
      <p mat-line > About </p>
    </a>
  </mat-nav-list>